<ion-header>
  <ion-toolbar>
    <ion-title>Mapa de jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="mapa" class="mapa-container"></div>

  <div class="overlay-controls">
    <ion-grid class="map-controls">
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" color="primary" (click)="iniciarActualizacionContinua()">
            Reanudar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" color="danger" (click)="detenerActualizacion()">
            Pausa
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  @if (latitud !== null && longitud !== null) {
    <div class="coordenadas">
      <p>📍 Latitud: {{ latitud }}</p>
      <p>📍 Longitud: {{ longitud }}</p>
    </div>
  }

  @if ((latitud === null || longitud === null) && error) {
    <div class="error-message">
      <p class="ion-text-danger">{{ error }}</p>
    </div>
  }

  </div>

  @if (firebaseService.jugadorActual != null) {
  <ion-card>
    <ion-card-header>
      <p style="    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30 px;
    color:#8ade86;">🛡️¡Bienvenido Titán!</p> 
      <ion-card-title [style.color]="firebaseService.jugadorActual.seteo.color">
        {{ firebaseService.jugadorActual.seteo.nick }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img
        [src]="getAvatarUrl(firebaseService.jugadorActual.seteo.icono)"
        alt="Avatar"
        width="100"
        [style.border]="'5px solid ' + firebaseService.jugadorActual.seteo.color"
        style="border-radius: 50%;"
      />
    </ion-card-content>
  </ion-card>
  <ion-button id="btnEditar" expand="full" color="primary" (click)="editarPerfil()">
  Configurar PJ
</ion-button>
}

  <!-- <app-jugadores></app-jugadores> -->
</ion-content>