<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="limipiarCampos()">Limpiar</ion-button>
      <ion-button class="boton-personalizado" [disabled]="!name || !opcionSeleccionada || !avatarSeleccionado" (click)="confirm()" [strong]="true">Confirmar</ion-button>
      <!-- <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Ingresa su nickname"
      labelPlacement="stacked"
      type="text"
      placeholder="Nickname"
      [(ngModel)]="name"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Color</ion-label>
    <ion-select [(ngModel)]="opcionSeleccionada" placeholder="Seleccione un color">
      <ion-select-option value="red">Rojo</ion-select-option>
      <ion-select-option value="blue">Azul</ion-select-option>
      <ion-select-option value="green">Verde</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-radio-group [(ngModel)]="avatarSeleccionado">
    <div class="mi-contenedor">
      <ion-chip>
        <ion-avatar>
          <img [src]="imagenUno" />
        </ion-avatar>
        <ion-label>Avatar 1</ion-label>
      </ion-chip>
      <ion-radio value="avatar1"></ion-radio>
    </div>

    <div class="mi-contenedor">
      <ion-chip>
        <ion-avatar>
          <img [src]="imagenDos" />
        </ion-avatar>
        <ion-label>Avatar 2</ion-label>
      </ion-chip>
      <ion-radio value="avatar2"></ion-radio>
    </div>

    <div class="mi-contenedor">
      <ion-chip>
        <ion-avatar>
          <img [src]="imagenTres" />
        </ion-avatar>
        <ion-label>Avatar 3</ion-label>
      </ion-chip>
      <ion-radio value="avatar3"></ion-radio>
    </div>
  </ion-radio-group>
</ion-content>

